.Button {
    cursor: pointer;
    background-color: var(--bg-color);
    border-color:var(--bg-inverted-color);
    
}

.clear {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

.switcher {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transform: scale(0.75)
}

.toogle {
    background-color: var(--bg-inverted-color);
    position: absolute;
    color: var(--bg-color);
    width: 30px;
    height: 30px;
    left: 70px;
    border: none;

    &.ButtonActive {
        left:300px;
        transition: 0.4s;
    }

    &.ButtonNotActive {
        transition: 0.4s;
    }
}

.navBarButtons {
    background-color: var(--bg-inverted-color);
    color: var(--link-color);
    width: 150px;
    height: 30px;
    margin-right: 20px;
    border-color:var(--bg-color)
}

