
.active {
    font-weight: bold;
    text-decoration: none;
    color: var(--link-color)
}

.inactive {
    text-decoration: none;
    color: var(--link-color)
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.activeIcon {
    font-weight: bold;
}



