
.app.light {
    --bg-color: #e8e8ea;
    --bg-inverted-color: #151543e7;
    --primary-color: #041c65;
    --secondary-color: #0449e0;
    --theme-icon-color: #e8e8ea;
    --link-color: #04ff04;
    --side-bar-icon-color: #04ff04;
}
