.SideBar {
    width: var(--side-bar-width-closed);
    height: calc(100vh - var(--nav-bar-height));
    background-color: var(--bg-inverted-color);
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    transition: width 0.4s;
}

.active {
    width: var(--side-bar-width-opend)
}

.links {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.switchers{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    &.column {
        flex-direction: column;
        align-items: center;
    }
}





